
<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/Frans P1.jpg" alt="Frans Sebastian" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Frans Sebastian</h1>
            <p class="lead">Fullstack Developer | Machine Learning Developer</p>
        </div>
    </div>
</div>
     
